html,body{
    margin: 0%;
    padding: 0%;
    

}
.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display:inline-block;
    box-sizing: border-box;
    padding-left: 124px;


}
.data{
}

.data1{
    width: 250px;
    height: 508px;
    display:inline-block;
    float: left;
    overflow: hidden;
    border: 1px solid blue;
    margin: 16px; 
}
.data2{
    width: 250px;
    height: 508px;
    display:inline-block;
    float: left;
    overflow: hidden;
    border: 1px solid red; 
    margin: 16px; 




}
.data3{
    width: 250px;
    height: 508px;
    display:inline-block;
    float: left;
    overflow: hidden;
    border: 1px solid blue; 
    margin: 16px; 



}
.data4{
    width: 250px;
    height: 508px;
    display:inline-block;
    float: left;
    overflow: hidden;
    border: 1px solid gray; 
    margin: 16px; 
}
input{
    border-radius: 28px;
    height: 36px;
    width: 132px; 
    
}
.d1{
    text-align: center;


}
h4{
    padding-left: 16px;
    padding-right: 16px;
}
h1{

}
.d2{
    text-align: center;

}
h4{

}
h5{
    padding-left: 24px;
    padding-right: 24px;
    font-size: large;
}
.d3{
    
}


h3{
    padding-left: 16px;

}
ul{

}
li{
    padding: 4px;
}