html, body{
    margin: 0% !important;
    padding: 0% !important;
}

.container{
    width: 100%;
}

.navbar{
    width: 100%;
    background-color: #E2B1B5;
    position: fixed;
    overflow: hidden;
}

.logo{
    width: 25%;
    float: left;
    overflow: hidden;
}
img{
    width: 100%;
    height: 620px;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}

.menu{
    width: 99%;
  
}

ul{
     
    list-style: none;
    margin: 0;
    padding-left: 128px;
    overflow: hidden;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    
}
i{
    display: inline-block;
    padding-left: 25px;
    padding-top: 10px;
}

.clearfix{
    clear: left;
}

.main{
}

li{
    display: block;
    transition-duration: 0.5s;
}

li:hover {
    cursor: pointer;
  }
 
ul li ul {
     visibility: hidden;
     opacity: 0;
     position: absolute;
     transition: all 0.5s ease;
     margin-top: 1rem;
     left: 0;
     display: none;
}
   
ul li:hover > ul,
ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
}
   
   ul li ul li {
     clear: both;
     width: 100%;
}   
   
   
   
